QWidget {
    background-color: #FFFCF9;
    color: #1A171D;
    font-family: "Idealist Sans";
    font-size: 12px;
}

QPushButton {
    background-color: #7392B7;
    color: #FFFCF9;
    border: 2px solid #81A1C1;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #81A1C1;
}

QLabel {
    font-size: 14px;
    font-weight: bolder;
}

QLineEdit {
    background-color: #FFF;
    border: 1px solid #81A1C1;
    border-radius: 3px;
    padding: 5px;
    color: #1A171D;
}

QLineEdit:focus {
    border: 2px solid #7392B7;
}